{% extends 'basic.html' %} {% block title %}Dashboard {% endblock title %} {% block body %}
{% load app_tags %}
    <div class="p-5">
<h1 class="text-center  text-danger p-5 ">My Bookings </h1>
<table class="table table-bordered" style="">
    <thead class="thead-dark">
        <th>User</th>
        <th>Room</th>
        <th>Location</th>
        <th>Person</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Price</th>
    </thead>
    {% for each_booking in bookings %}
    <tr class="">
        <td>{{each_booking.guest.username}}</td>
        <td>{{each_booking.room.roomnumber}}</td>
        <td>{{each_booking.room.hotel.location}}</td>
        <td>{{each_booking.room.capacity}}</td>
        <td>{{each_booking.check_in}}</td>
        <td>{{each_booking.check_out}}</td>
        <td>{{each_booking.room.price}}</td>
    </tr>
    {% endfor %}


</table>
    </div>
{% endblock body %}